@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

html {
    scroll-behavior: smooth;
    font-size: 20px;
}

body {
    --bg-colour: #080808;
    background: var(--bg-colour);
    color: #eee;

    font-family: 'Inconsolata', 'Courier New', Courier, monospace;

    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
}

footer {
    text-align: center;
    color: #555;
    padding: 1em;
}

h1 {
    font-size: 4em;
    text-align: center;
    margin: 30px 0 30px;
    line-height: 1em;
    color: royalblue;

    transition: opacity 30s;
}
h1.active {
    opacity: 0.4;
    animation: tick 1s ease-in-out infinite alternate;

    cursor: default;
}
h1.done {
    color: white;
}

h1.active:hover {
    opacity: 1;
    transition: opacity 1s;
}

@keyframes tick {
    0% {
        opacity: #4169e199;
    }
    60% {
        color: #4169e1;
    }
    100% {
        color: #4e78f7;
    }
}

h2 {
    text-align: center;
    margin-bottom: 0.5em;
    color: #888;
}

.content {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;

}

.controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: var(--bg-colour);
    box-shadow: 0 0 10px var(--bg-colour);

    padding: 0.75em;
}

button, input, select {
    display: block;
    border-radius: 2px;
    padding: 5px 10px;
    border: none;
}

select, option {
    background-color: royalblue;
    cursor: pointer;
    font-weight: bold;
}
select {
    transition: opacity 1s, background 0.25s;
}
select:hover {
    background-color: rgb(140, 169, 255);
}

button {
    font-weight: bold;
    background-color: royalblue;
    cursor: pointer;
    transition: background 0.25s, color 0.25s, transform 0.25s, opacity 1s ease-in;

    overflow: hidden;
}

#start {
    margin-right: 50px;
}
#start.active b {
    animation: blastOff 1s forwards;
}

@keyframes blastOff {
    0% { transform: translate(0, 0);}
    40% { transform: translate(-5px, 5px);}
    100% { transform: translate(50px, -50px);}
}

#end {
    background-color: darkred;
    color: white;
}

#end:hover {
    background-color: crimson;
    color: white;
}

button:disabled, select:disabled, input:disabled {
    opacity: 0.25;
}

#start:disabled {
    animation: hideAway 1.75s 1s ease-in-out forwards;
}
@keyframes hideAway {
    to {
        padding: 0;
        font-size: 0;
        opacity: 0;
        margin-right: -10px;
    }
}

button b {
    display: inline-block;
    transition: transform 1s;
}

button:hover {
    background-color: rgb(140, 169, 255);
    color: black;
    transform: translateY(-3px);
}

button:active {
    background-color: rgb(140, 169, 255);
    color: black;
    transform: translateY(3px);
}

/* button:hover b {
    transform: scale(1.1);
} */

input {
    background: #1c1c1c;
    color: #ccc;
    border: none;
    transition: background 0.15s, opacity 1s;
    flex-grow: 1;
}
input::placeholder {
    color: #999;
    transition: color 0.25s;
}
input:focus::placeholder {
    color: royalblue
}
input:focus {
    outline: none;
    color: white;
    background-color: rgb(21, 47, 122);
}

.splits {
    margin-top: 40px;
    padding: 1.25em;
}
.split {
    color: #aaa;
    background-color: #0e0e0e;
    display: grid;
    grid-template-columns: 2fr 3fr 150px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    padding: 10px;
}

.split:first-child {
    background-color: transparent;
    border-bottom: 3px solid #444;
    color: white;
    font-style: normal;
    border: none;
    padding: 10px 15px;
}

.id {
    padding-left: 0.5em;
}
.id, .name {
    font-weight: bold;
}

.duration, .timestamp {
    font-style: italic;
}
.timestamp {
    text-align: right;
}

.split {
    animation: fadeIn 1s ease-out;
    line-height: 1em;
}
@keyframes fadeIn {
    from {
        transform: translate(-15px);
        opacity: 0;
    }
}

.relaxing {
    border-left-color: goldenrod;
    color: goldenrod;
}

.meditating {
    color: rgb(192, 7, 44);
    border-left-color: rgb(192, 7, 44);
}
.exercise {
    /* background: rgb(10, 40, 20); */
    border-left-color: purple;
    color: purple;
}
.working {
    /* background: rgb(10, 40, 20); */
    border-left-color: rgb(35, 161, 41);
    color: rgb(35, 161, 41);
}
.hygiene {
    border-left-color: cyan;
    color: cyan;
}

.start, .end {
    color: white;
    background-color: #1a1a1a;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    color: #aaa;
    padding: 0 1em;
}

.stat {
    background: #111;
    box-shadow: 0 0 3px black;
    padding: 3px 10px;
    border-radius: 10px;
}

/* MARK: @media < 800px 
 */
@media screen and (width < 800px) {
    .controls {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    button:first-child, input {
        grid-column: span 3;
    }
    button, input {
        width: 100%;
        margin: 0;
        padding: 8px;
    }
    .split {
        grid-template-columns: 1fr 1fr 100px;
    }

    .id {
        display: none;
    }

    .hide {
        display: none;
    }
}


/* MARK: @media < 500px 
 */
@media screen and (width < 500px) {

    .splits {
        padding: 1.25em 0;
        margin: 0;
    }
    .split {
        grid-template-columns: 1fr 90px;
    }
    .timestamp {
        display: none;
    }

    .stats {
        gap: 0;
        background: #111;
        padding: 20px 10px;
        margin-top: 40px;
    }
    .stat {
        box-shadow: none;
        border-radius: 0;
        display: grid;
        grid-template-columns: 2fr auto 1fr;
        column-gap: 1em;
        width: 100%;
    }
}