@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

html {
    scroll-behavior: smooth;
    font-size: 20px;
}

body {
    --bg-colour: #080808;
    background: var(--bg-colour);
    color: #eee;

    font-family: 'Inconsolata', 'Courier New', Courier, monospace;
}

h1 {
    font-size: 4em;
    text-align: center;
    margin: 30px 0 30px;
    line-height: 1em;
    color: royalblue;

    transition: opacity 30s;
}
h1.active {
    opacity: 0.4;
    animation: tick 1s ease-in-out infinite alternate;

    cursor: default;
}

h1.active:hover {
    opacity: 1;
    transition: opacity 1s;
}

@keyframes tick {
    0% {
        opacity: #4169e199;
    }
    60% {
        color: #4169e1;
    }
    100% {
        color: #4e78f7;
    }
}

.content {
    max-width: 1000px;
    margin: 0 auto;

}

.controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: var(--bg-colour);
    padding: 5px 0;
    box-shadow: 0 0 10px var(--bg-colour);

    padding: 0.75em;
}

button, input {
    display: block;
    border-radius: 2px;
    padding: 5px 10px;
}
button {
    font-weight: bold;
    background-color: royalblue;
    border: none;
    cursor: pointer;
    transition: background 0.25s, color 0.25s, filter 1s, transform 0.25s;

    overflow: hidden;
}

#start {
    margin-right: 50px;
}
#start.active b {
    animation: blastOff 1s forwards;
}

@keyframes blastOff {
    0% { transform: translate(0, 0);}
    40% { transform: translate(-5px, 5px);}
    100% { transform: translate(50px, -50px);}
}

button:disabled {
    animation: hideAway 1.75s 1s ease-in-out forwards;
}
@keyframes hideAway {
    to {
        padding: 0;
        font-size: 0;
        opacity: 0;
        margin-right: -10px;
    }
}

button b {
    display: inline-block;
    transition: transform 1s;
}

button:hover {
    background-color: rgb(140, 169, 255);
    color: black;
    transform: scale(1.1);
}
button:hover b {
    transform: scale(1.1);
}

input {
    background: #1c1c1c;
    color: #ccc;
    border: none;
    transition: background 0.15s;
    flex-grow: 1;
}
input::placeholder {
    color: #999;
    transition: color 0.25s;
}
input:focus::placeholder {
    color: royalblue
}
input:focus {
    outline: none;
    color: white;
    background-color: rgb(21, 47, 122);
}

.splits {
    margin-top: 40px;
    padding: 1.25em;
}
.split {
    color: #aaa;
    background-color: #0e0e0e;
    display: grid;
    grid-template-columns: 50px 2fr 3fr 150px;
    border-left: 5px solid transparent;
    padding: 10px 0;
}

.split:first-child {
    background-color: transparent;
    border-bottom: 3px solid #444;
    color: white;
    font-style: normal;
    border-left: none;
}

.id {
    padding-left: 0.5em;
}
.id, .name {
    font-weight: bold;
}

.duration, .timestamp {
    font-style: italic;
}

.split {
    animation: fadeIn 1s ease-out;
    line-height: 1em;
}
@keyframes fadeIn {
    from {
        transform: translate(-15px);
        opacity: 0;
    }
}

.break {
    /* background: rgb(20, 10, 40); */
    /* border-color:goldenrod; */
    color: goldenrod;
}

.complete {
    /* background: rgb(10, 40, 20); */
    border-color: rgb(35, 161, 41);
    color: rgb(35, 161, 41);
}

.start {
    /* background: rgb(45, 33, 3); */
    color: royalblue;
    /* border-color:goldenrod; */
}


@media screen and (width < 800px) {
    .controls {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    button:first-child, input {
        grid-column: span 3;
    }
    button, input {
        width: 100%;
        margin: 0;
        padding: 8px;
    }
    .split {
        grid-template-columns: 1fr 1fr 100px;
    }

    .id {
        display: none;
    }
    .name {
        padding-left: 0.5em;
    }

    .hide {
        display: none;
    }
}